/*PRUEBA*/

body.page-home {
  background: url('../img/bg-home.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}


.hamburguesa {
	display: none;
}

@media (max-width: 468px) {

.hamburguesa {
	display: block;
	width: 50px;
	margin:0 auto;
	padding-top: 5px;
}

header .container {
	text-align: center;
}
header img {
	width: 50px;
}
.main.horizontal {
	padding: 0px;
} 
.menus {
	position: relative;
	width: 100%;
}
.menus li::after {
	content: '' !important;
}
.menus li {
	width: 100%;
	background-color: black;
	border-bottom: 1px solid white;
}
.menus li a {
	color: white;
	width: 100%;
}


.social.horizontal {
	display: none;
}

header {
	margin-bottom: 0px;
}

.principal {
	padding: 5 10px;
	text-align: center;
	padding-bottom: 0px;
}

.products {

	padding: 0 10px;
	text-align: center;
	margin-top:25px;
}

.button-home a {
	display: inline-block;
	padding: 5px;
	background-color: yellow;
	border-radius: 5px;
	font-size: 15px;
}

.main-titles, h2 {
	margin:0px;
}

.product-home {
	margin:20px auto;
	text-align: center;
}

footer .container {
	text-align: center;
	font-size: 15px;
}

footer .container .copy {
	font-size: 12px;
}

}
/*

=============================tablet=============================

*/
@media (max-width: 768px) {
	.menus {
		display: block;
	}
	header img {
		display: none;
	}
	.hamburguesa {
		display: none;
	}

	nav.main.horizontal {
		float: none;
	}

	.logo {
		margin:0;
	}

	.container {
		text-align: center;
	}

	nav.social.horizontal {
		float: none;
	}

	.menus.group {
		position: relative;
		text-align: center;

	}


	header {
		margin-bottom: 0;
	}

	.container-home {
		width: 97%;
		margin: 0 auto;
		text-align: center;
	}

	.principal {
		padding: 0;
		margin:0;
	}


	.button-home a {
	display: inline-block;
	padding: 5px;
	background-color: yellow;
	border-radius: 5px;
	font-size: 15px;
}

.product-home {
	padding: 0 5px;
}

footer .container {
	text-align: center;
	font-size: 15px;
}

footer .container .copy {
	font-size: 12px;
}
}



/* desktop*/

.principal {
	padding: 0px;
}

	
	.hamburguesa {
	display: none;
}

	.container-home {
		width: 95%;
		margin: 0 auto;
		text-align: center;
	}


		.button-home a {
	display: inline-block;
	padding: 5px;
	background-color: yellow;
	border-radius: 5px;
	font-size: 15px;
}


.product-home {
	padding: 0 5px;
	float: left;
}

section .container {
	margin-top:30px;

	margin-left:10%;

}
