/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Office Gurú
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

 /**
 * Guía de estilo:
 * ~~~~~~~~~~~~~~
 * https://github.com/necolas/idiomatic-css
 * https://css-tricks.com/css-style-guides/
 *
 * Colores:
 * ~~~~~~~
 * - Amarillo claro   #FBFBB1 (Fondo faq)
 * - Amarillo medio   #F6F53C (Botones)
 * - Amarillo oscuro  #C1BD2F (Borde botones)
 * - Celeste          #99C1C4 (Fondo registro, botones) 
 * - Violeta          #2C0337 (Texto, botones)
 * - Gris claro       #828282 (Fondo registro)
 * - Gris oscuro      #D8D8D8 (Botones)
 * - Negro            #151515 (Texto, fondo footer)
 *
 * Responsive:
 * ~~~~~~~~~~
 * - General (0 a infinito)   Aplica a todos.
 * - Mobile (0 a 768px)       Con media query @media (max-width: 768px) {}
 * - Tablet (1024px a 769px)  Con media query @media (min-width: 769px) and (max-width: 1024px) {}
 * - Desktop (1025px o mas)   Con media query @media (min-width: 1025px) {}
*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Main elements 
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/** 
 * Aplica a elementos en todo el sitio, acá se estilan elementos de uso 
 * frecuente como:
 * - Encabezados (h1 ... h6)
 * - Párrafos
 * - Listas
 * - Etc...
 */

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
  /* Transiciones de medio segundo para todos los efectos
   * https://css-tricks.com/almanac/properties/t/transition/ */
  /* transition: all 0.5s ease-out; */
}

body { 
  margin: 0;
  padding: 0;
}

h1 {}
h2 {
  text-align: center;
  text-transform: uppercase;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
h4 {}
h5 {}
h6 {}

a {
	text-decoration: none;
	color: #151515;
}

ul li {
	list-style-type: none;
}

section {
  padding: 24px 0 48px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Layout
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

 /**
 * Acá van todos los estilos de contendores, menúes y sistemas de grilla
 */

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

nav ul { 
  padding: 0;  
}
nav ul li { 
  list-style-type: none;
  text-transform: uppercase;
}
nav.horizontal ul li {
  display: inline-block;
}

/* Grilla */

/**
 * Pal' que se anime
 * https://css-tricks.com/dont-overthink-it-grids/
 */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Helpers
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/**
 * Estos son estilos que pueden aplicarse a un elemento para obtener un efecto determinado
 * - Flotar
 * - Ocultar
 * - Centrar
 * - Cambiar tamaño de fuente
*/

/* Hace que los contenedores ocupen todo el espacio aunque sus hijos estén flotados
 * https://css-tricks.com/snippets/css/clear-fix/ */
.container:after,
.group:after {
  content: "";
  display: table;
  clear: both;
}

.txt-center { text-align: center; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Components
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/**
 * Aquí van todos los componentes reutilizables como ser listas de productos, 
 * rating por estrellas
 */


/**
 * Fuente para iconos 
 * http://fontello.com/
 */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?39905452');
  src: url('../fonts/fontello.eot?39905452#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?39905452') format('woff2'),
       url('../fonts/fontello.woff?39905452') format('woff'),
       url('../fonts/fontello.ttf?39905452') format('truetype'),
       url('../fonts/fontello.svg?39905452#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
     
[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  width: 1em;

  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: inherit;
  speak: none;
  
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before { content: '\e800'; }
.icon-clock:before { content: '\e801'; }
.icon-check:before { content: '\e802'; }
.icon-star:before { content: '\e803'; }
.icon-star-half:before { content: '\e804'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-youtube:before { content: '\f167'; }
.icon-instagram:before { content: '\f16d'; }

.animate-spin {
  animation: spin 2s infinite linear;
  display: inline-block;
}

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Office list */

.office-list {}
  .office-list .office {
    float: left;
    width: 100%;
    padding-right: 12px;
    margin: 24px 0;
  }

  .office-list .office img {
    display: block;
    width: 100%;
  }

@media (min-width: 769px) and (max-width: 1024px) {
  .office-list .office { width: 33.33%; }
}
@media (min-width: 1025px) {
  .office-list .office { width: 25%; } 
}

/* Star rating */

ul.stars { padding: 0; }
ul.stars li {
  float: left;
  list-style-type: none;
}
ul.stars li i { color: tomato; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Pages
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/**
 * Aquí van los estilos específicos de cada página. Todos los elementos que 
 * puedan reutilizarse o que se repitan deben ir en Layout.
 */

/* Header
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {}
    
/**
 * Escondemos el texto del H1, de esta manera se ve el logo y Google está feliz
 * https://stackoverflow.com/questions/12873390/hide-text-in-h1-tag-but-not-the-image
 */
  header h1 { 
    margin: 0;
    font-size: 0; 
  }
  header h1 img {
    margin: 12px 0 0;
  }

/* Menu bars */
.menus { 
  position: absolute;
  top: 0;
  right: 0;
}

nav.menu-social { float: right; }
  nav.menu-social ul li {}
  nav.menu-social ul li:after {}
    nav.menu-social ul li a {
      display: block;
      width: 28px;
      height: 28px;
      background-color: #151515;
      text-align: center;
      font-size: 14px;
      line-height: 28px;
      color: #FBFBB1;
      border-radius: 50%;
    }

nav.menu-main { 
  float: right;
  padding-left: 48px;
}
  nav.menu-main ul li a {
    padding: 6px;
    border-radius: 6px;
    line-height: 28px;
    font-size: 13px; 
  }
  nav.menu-main ul li a:hover { 
    background-color: #151515;
    color: #FBFBB1;
  }
    nav.menu-main ul li:after {
      content: "|";
      padding: 0 3px;
    }
    nav.menu-main ul li:last-child:after { content: ""; }

@media (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}


/* Footer
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  overflow: hidden;
  background-color: #151515;
  color: white;
}

footer a { color: white; }
footer .copy { text-transform: uppercase; }

@media (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}


/* Home
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body.page-home {
  background: url('../img/bg-home.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* TODO: mover a donde va */
body.page-home .principal .container { 
  width: 600px; 
  text-align: center;
}

.menu-mobile {
  display: none;
}

@media (max-width: 468px) {

  .menu-mobile {
    display: block;
    width: 50px;
    margin:0 auto;
    padding-top: 5px;
  }

  .main.horizontal {
    padding: 0px;
  } 

  .menus {
    position: relative;
    width: 100%;
  }

  .menus li::after {
    content: '' !important;
  }

  .menus li {
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
  }
  .menus li a {
    color: white;
    width: 100%;
  }


  .social.horizontal {
    display: none;
  }

  .principal {
    padding: 5 10px;
    text-align: center;
    padding-bottom: 0px;
  }

  .products {

    padding: 0 10px;
    text-align: center;
    margin-top:25px;
  }

  .button-home a {
    display: inline-block;
    padding: 5px;
    background-color: yellow;
    border-radius: 5px;
    font-size: 15px;
  }

  .main-titles, h2 {
    margin:0px;
  }

  .product-home {
    margin:20px auto;
    text-align: center;
  }

  footer .container {
    text-align: center;
    font-size: 15px;
  }

  footer .container .copy {
    font-size: 12px;
  }

}
/*

=============================tablet=============================

*/
@media (max-width: 768px) {
  .menus {
    display: block;
  }
  header img {
    display: none;
  }
  .menu-mobile {
    display: none;
  }

  nav.main.horizontal {
    float: none;
  }

  .logo {
    margin:0;
  }

  nav.social.horizontal {
    float: none;
  }

  .menus.group {
    position: relative;
    text-align: center;

  }


  header {
    margin-bottom: 0;
  }

  .container-home {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }

  .principal {
    padding: 0;
    margin:0;
  }


  .button-home a {
    display: inline-block;
    padding: 5px;
    background-color: yellow;
    border-radius: 5px;
    font-size: 15px;
  }

  .product-home {
    padding: 0 5px;
  }

  footer .container {
    text-align: center;
    font-size: 15px;
  }

  footer .container .copy {
    font-size: 12px;
  }
}



/* desktop*/

.principal {
  padding: 0px;
}

.menu-mobile {
  display: none;
}

  .container-home {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }


.button-home a {
  display: inline-block;
  padding: 5px;
  background-color: yellow;
  border-radius: 5px;
  font-size: 15px;
}

.product-home {
  padding: 0 5px;
  float: left;
}


/* FAQ
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body.page-faq { background-color: #FBFBB1; }

@media (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}

body.page-faq section.offices { background-color: white; }
body.page-faq .menu-item-faq a {
  border-bottom: 3px solid #151515;
  border-radius: 6px 6px 0 0;
}

.question {
  float: left;
  width: 50%;
  padding-left: 12px;
}
  .question h4 { 
    text-transform: uppercase; 
    font-weight: normal; 
  }


/* Register
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#register {
	background-color: #99C1C4;
	padding: 15px 5px;
}

/* Botones SignIn - SignUp */

.register-nav {
  /*background-color: #F6F53C;*/
  text-align: center;
}

.register-nav ul {
  margin: 0;
  padding: 0;
}

.register-nav ul li {
  display: inline-block;
  background-color: #2C0337;
  font-weight: bold;
  text-transform: uppercase;

  width: 162px;
  padding: 18px;
}

.register-nav ul li.second {
  margin-left: -2px;
}

.register-nav ul li a {
	color: #fff;
  
}

.register-nav ul li.active {
	background-color: #FBFBB1;
}

.register-nav ul li.active a {
	color: #151515;
}

/* Forms */

/* TODO: mover el código reutilizable a Layout */

form {
	clear: both;
    margin: 15px auto;
}

@media only screen and (min-width: 768px) {
  form {
    width:50%;
  }
}

@media only screen and (min-width: 2000px) {
  form {
    width:25%;
  }
}

.form-control {
	position: relative;
}

input.form-control {
	width: 100%;
  height: 36px;
  background-color: #FBFBB1;
  border: 1px solid #FBFBB1;
  padding: 0 5px;
}

.form-group i {
  position: absolute;
  top:12px;
  left:12px;
}

label {
	font-size: 12px;
  color: #676262;
  font-weight: bold;

  display: block;
  width: 50%;
  margin: 8px 0;
  padding: 0 2px;
}

.checkbox .terms{
	width: auto;
	font-size: 13px;
}

/* Btn de registro*/
.btn {
  border:0;
  border-radius: 5px;
  outline:none;
  padding:15px 0;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #2C0337;
}

.btn-register {
	display: block;
	width: 50%;
	margin: auto;
}

/* Login
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

span.forgot-pass a {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 9px;
  font-size: 13px;
  font-weight: bold;
  color: #2C0337;
}

span.forgot-pass a:hover {
	color:#FBFBB1;
}