* {
	font-family: sans-serif;
}

/*INDEX CSS*/
.container {
	max-width: 1200px;
	margin:0 auto;
	position: relative;
}

.principal {
	position: absolute;
	background-image: url(img/bg-home.jpg);
	background-attachment: fixed;
}

.main_titles {
	top:30px;
	margin-left:auto;
}

img {
	max-width: 100%;
}





/*END OF INDEX CSS*/